<div class="footer">

	<div class="footerLinks">

		<div class="footerLogoLink">
			<div style="font:Arial; font-size:11px; line-height: 1.5em;">
			<a href="http://www.captain69.co.uk/index_site.php">Find Us On Captain 69</a><br/>
			<a href="http://www.captain69.co.uk/"><img onmousedown="return false;" ondragstart="return false" oncontextmenu="return false" src="http://www.captain69.co.uk/banners/Captain69-133x36.gif" border="0" alt="Captain69 escort reviews"/></a><br>
			<a href="http://www.captain69.co.uk/list-reviews/agencies.php">Trusted Escort Agency Reviews</a>
			</div>
		</div>

		<div class="footerLogoLink">

			<%= link_to image_tag("AdultWorkbanner.gif"), "http://www.adultwork.com" %>

		</div>


		<div class="footerLogoLink">
			<a href="http://www.londonescortguide.com"><img src="http://www.londonescortguide.com/london_escorts_home.gif" alt="london escort guide" width="133" height="36" border="0"></a> 
			<br>
			<a href="http://www.londonescortguide.com/london_escort_agencies/londonagency_listings.htm"><span style="font-size: 7pt">London Escort Agencies</span></a><br>
			<a href="http://www.londonescortguide.com"><span style="font-size: 7pt">London Escort Listings</span></a><br>
		</div>

		<div class="footerLogoLink">
			<%= link_to image_tag("adultzone.png"), "http://www.ukadultzone.com" %>
		</div>

		<div class="footerLogoLink">
			<%= link_to image_tag("punterlink.gif"), "http://www.punterlink.co.uk" %><br />
			<%= link_to "Punterlink", "http://www.punterlink.com" %> - <%= link_to "LUE", "http://www.londonukescorts.co.uk " %> - <%= link_to "Fetshop", "http://www.fetshop.co.uk" %>
		</div>

		<div class="footerLogoLink">
			<!--start of banner www.Escort.co.uk-->
			<a href="http://www.escort.co.uk" target="_blank"><img src="http://www.escort.co.uk/images/banners/escort_small.gif" alt="Escort" width="165" height="50" border="0"></a><br><font face="Verdana" size="1"><a href="http://www.escort.co.uk" target="_blank">Escorts London</a> |<br /><a href="http://www.escort.co.uk/uk_escorts.html" target="_blank">UK Escorts</a></font>
			<!--end of banner www.Escor.co.uk -->
		</div>

		<div class="footerLogoLink">
			<!--oad link begin--><div style="text-align:center;"><a href="http://openadultdirectory.com/escorts/"><img src="http://openadultdirectory.com/banner-img/escorts-md.jpg" border="0" /><br />Listed under<br />Escorts at OAD</a></div><!--oad link end-->
		</div>


	</div>
</div>