<div class="girlPromoBox">
	<div class="girlName">
		<%= girl.name %>
	</div>

	<a href="/girls/<%= girl.name %>"><img src="https://s3-eu-west-1.amazonaws.com/pearlsgirlsimages/images/<%=asset_object_id(girl.id)%>/original/<%=asset_object_name(girl.id)%>"></a>

	<div class="girlPromoBottom">
		<div class="girlPromoBottomCategory">
			Nationality:<br />
			Age:
		</div>
		<div class="girlPromoBottomValue">
			<%= girl.nationality %><br />
			<%= girl.age %>
		</div>
	</div>
</div>