<div class="header">
	<div class="headerTop">
		<%= link_to image_tag("pearls-girls-logo.png", :class => "headerLogo"), root_url %>
		<%= image_tag("pearls-girls-girl.png", :class => "headerLogoGirl") %>

		<%= image_tag("call-now.png", :class => "headerPhone") %>
		<div class="headerNumber">
			07866 633849
		</div>
	</div>
	<div class="headerBottom">
		<%= link_to "Home", :root %>

		<%= link_to "Gallery", "/girls" %>

		<%= link_to "Tonight's Girls", "/girls/tonights_girls" %>

		<%= link_to "Prices", "/prices" %>

		<%= link_to "How to Book", "/how_to_book" %>

		<%= link_to "Pearl's Promise", "/promises" %>

		<%= link_to "FAQ's", "/faq" %>

		<%= link_to "Work for Us", "/work_for_us" %>
	</div>
	<div class="headerCall">
		Book one of our stunning playgirls Now from only £110 per hour. Call 020 7118 6969 <%= link_to "View Girls", "/girls", :class => "bookButton headerButton" %>
	</div>
</div>